<h1 style="color:#2e658b; text-align:center; font-size:250%">BLACK FRIDAY HACKATHON</h1>

In [37]:
#########################
# Importing the Libraries
#########################

import numpy
import pandas

In [6]:
##########################
# Loading the test dataset
##########################

data_test = data.read_csv('test.csv')

---

In [19]:
#######################
# Loading our Solutions
#######################

y_pred_1 = pd.read_csv('Submissions/final_solution.csv')
y_pred_2 = pd.read_csv('Submissions/final_solution-2.csv')
y_pred_3 = pd.read_csv('Submissions/final_solution-3.csv')

In [20]:
y_pred_1.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  16260.297852
1  1000009  P00113442   9465.327539
2  1000010  P00288442   6396.399414
3  1000010  P00145342   3235.654687
4  1000011  P00053842   2035.130127

In [21]:
y_pred_2.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  15907.995312
1  1000009  P00113442  10865.184375
2  1000010  P00288442   7171.589941
3  1000010  P00145342   2274.247168
4  1000011  P00053842   2294.602783

In [23]:
y_pred_3.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  15264.864258
1  1000009  P00113442  11033.125000
2  1000010  P00288442   6771.742188
3  1000010  P00145342   2259.690186
4  1000011  P00053842   2470.019531

## Mean Predictions

In [24]:
pred_df = pd.DataFrame({'Purchase_1': y_pred_1['Purchase'], \
                        'Purchase_2': y_pred_2['Purchase'], \
                        'Purchase_3': y_pred_3['Purchase']})

In [29]:
pred_df.head()

     Purchase_1    Purchase_2    Purchase_3
0  16260.297852  15907.995312  15264.864258
1   9465.327539  10865.184375  11033.125000
2   6396.399414   7171.589941   6771.742188
3   3235.654687   2274.247168   2259.690186
4   2035.130127   2294.602783   2470.019531

In [32]:
test_preds = pred_df.mean(axis=1)

In [ ]:
# Submission file

submit = pd.DataFrame({'User_ID': ids_test, 'Product_ID': product_ids_test, 'Purchase': test_preds})
submit = submit[['User_ID', 'Product_ID', 'Purchase']]

In [ ]:
submit.ix[submit['Purchase'] < 0, 'Purchase'] = 12
submit.to_csv("final_solution-avg.csv", index=False)

---